In [2]:
import pandas as pd
import os
os. getcwd()

In [6]:
cases_deaths = pd.read_csv("cases_deaths_cleaned.csv")
df = pd.DataFrame(cases_deaths)

In [8]:
df

          date  total_cases  total_tests
0     2/1/2020           46          608
1     2/2/2020           14           72
2     2/3/2020           10           58
3     2/4/2020            0           64
4     2/5/2020            6           90
..         ...          ...          ...
747  2/17/2022        13374       672846
748  2/18/2022         9162       421640
749  2/19/2022         3114        71436
750  2/20/2022          702        15604
751  2/21/2022            0            0

[752 rows x 3 columns]

In [11]:
df["date"]=pd.to_datetime(df["date"])

In [16]:
df["date"]=df['date'].dt.strftime('%m/%d/%Y')

In [17]:
df.head()

         date  total_cases  total_tests
0  02/01/2020           46          608
1  02/02/2020           14           72
2  02/03/2020           10           58
3  02/04/2020            0           64
4  02/05/2020            6           90

In [18]:
df.to_csv("cases_deaths_datetrans.csv")