In [1]:
import pandas as pd
import os
from sklearn import preprocessing
import numpy as np
print(os .getcwd())

C:\Users\14086\Desktop\Data 228\Project Data

In [2]:
combined = pd.read_csv("covid19_combined.csv")
df = pd.DataFrame(combined)

In [3]:
df.isna().sum()

date                      0
age_0_17_doses            0
age_18_49_doses           0
age_50_64_doses           0
age_65_doses              0
gender_female_doses       0
gender_male_doses         0
race_american_doses       0
race_asian_doses          0
race_black_doses          0
race_hawaiian_doses       0
race_latino_doses         0
race_multirace_doses      0
race_other_doses          0
race_white_doses          0
avg_tavg                  0
avg_tmax                  0
avg_tmin                  0
avg_tobs                  0
total_cases              38
total_tests              38
hospital_day_total       26
age_0_17_deaths          71
age_18_49_deaths         71
age_50_64_deaths         71
age_65_deaths            71
gender_female_deaths     71
gender_male_deaths       71
race_white_deaths        71
race_other_deaths        71
race_multirace_deaths    71
race_latino_deaths       71
race_hawaiian_deaths     71
race_black_deaths        71
race_asian_deaths        71
race_american_deaths     71
dtype: int64

In [4]:
df["age_0_17_deaths"].ffill(inplace=True)
df["age_18_49_deaths"].ffill(inplace=True)
df["age_50_64_deaths"].ffill(inplace=True)
df["age_65_deaths"].ffill(inplace=True)
df["gender_female_deaths"].ffill(inplace=True)
df["gender_male_deaths"].ffill(inplace=True)
df["race_white_deaths"].ffill(inplace=True)
df["race_other_deaths"].ffill(inplace=True)
df["race_multirace_deaths"].ffill(inplace=True)
df["race_latino_deaths"].ffill(inplace=True)
df["race_hawaiian_deaths"].ffill(inplace=True)
df["race_black_deaths"].ffill(inplace=True)
df["race_asian_deaths"].ffill(inplace=True)
df["race_american_deaths"].ffill(inplace=True)

In [5]:
df["date"]=pd.to_datetime(df["date"])

In [6]:
df = df[(df['date'] > '2020-04-21') & (df['date'] < '2022-02-22')]

In [7]:
df.isna().sum()

date                     0
age_0_17_doses           0
age_18_49_doses          0
age_50_64_doses          0
age_65_doses             0
gender_female_doses      0
gender_male_doses        0
race_american_doses      0
race_asian_doses         0
race_black_doses         0
race_hawaiian_doses      0
race_latino_doses        0
race_multirace_doses     0
race_other_doses         0
race_white_doses         0
avg_tavg                 0
avg_tmax                 0
avg_tmin                 0
avg_tobs                 0
total_cases              0
total_tests              0
hospital_day_total       0
age_0_17_deaths          0
age_18_49_deaths         0
age_50_64_deaths         0
age_65_deaths            0
gender_female_deaths     0
gender_male_deaths       0
race_white_deaths        0
race_other_deaths        0
race_multirace_deaths    0
race_latino_deaths       0
race_hawaiian_deaths     0
race_black_deaths        0
race_asian_deaths        0
race_american_deaths     0
dtype: int64

In [8]:
x = df.iloc[:,1:].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)

In [9]:
normalized = pd.DataFrame(df["date"]).join(pd.DataFrame(x_scaled))

In [10]:
normalized

,date,0,1,2,3,4,5,6,7,8,...,25,26,27,28,29,30,31,32,33,34
0,2020-04-22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2020-04-23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001210,0.001084,0.001585,0.010453,0.000000,0.001141,0.002037,0.001459,0.001487,0.005435
2,2020-04-24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.002155,0.002190,0.002581,0.010453,0.000839,0.001949,0.004073,0.002917,0.002973,0.005435
3,2020-04-25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.003100,0.003066,0.003466,0.014808,0.000839,0.002672,0.004073,0.003829,0.004803,0.005435
4,2020-04-26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.003306,0.003503,0.003724,0.014808,0.000839,0.003006,0.006110,0.004376,0.005374,0.005435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,2022-02-17,0.992216,0.997197,0.998167,0.998972,0.997232,0.997278,0.997033,0.997757,0.996605,...,0.992354,0.991909,0.990930,0.984321,0.996644,0.994433,0.995927,0.986873,0.992224,0.978261
667,2022-02-18,0.995783,0.998381,0.998975,0.999433,0.998473,0.998438,0.998321,0.998722,0.998121,...,0.992354,0.991909,0.990930,0.984321,0.996644,0.994433,0.995927,0.986873,0.992224,0.978261
668,2022-02-19,0.997841,0.999003,0.999387,0.999628,0.999102,0.999087,0.998918,0.999290,0.998823,...,0.992354,0.991909,0.990930,0.984321,0.996644,0.994433,0.995927,0.986873,0.992224,0.978261
669,2022-02-20,0.998616,0.999351,0.999583,0.999724,0.999401,0.999404,0.999304,0.999561,0.999154,...,0.992354,0.991909,0.990930,0.984321,0.996644,0.994433,0.995927,0.986873,0.992224,0.978261
670,2022-02-21,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
normalized.columns = list(df)

In [12]:
normalized.head()

,date,age_0_17_doses,age_18_49_doses,age_50_64_doses,age_65_doses,gender_female_doses,gender_male_doses,race_american_doses,race_asian_doses,race_black_doses,...,gender_female_deaths,gender_male_deaths,race_white_deaths,race_other_deaths,race_multirace_deaths,race_latino_deaths,race_hawaiian_deaths,race_black_deaths,race_asian_deaths,race_american_deaths
0,2020-04-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2020-04-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001210,0.001084,0.001585,0.010453,0.000000,0.001141,0.002037,0.001459,0.001487,0.005435
2,2020-04-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002155,0.002190,0.002581,0.010453,0.000839,0.001949,0.004073,0.002917,0.002973,0.005435
3,2020-04-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.003100,0.003066,0.003466,0.014808,0.000839,0.002672,0.004073,0.003829,0.004803,0.005435
4,2020-04-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.003306,0.003503,0.003724,0.014808,0.000839,0.003006,0.006110,0.004376,0.005374,0.005435

In [13]:
normalized.isna().sum()

date                     0
age_0_17_doses           0
age_18_49_doses          0
age_50_64_doses          0
age_65_doses             0
gender_female_doses      0
gender_male_doses        0
race_american_doses      0
race_asian_doses         0
race_black_doses         0
race_hawaiian_doses      0
race_latino_doses        0
race_multirace_doses     0
race_other_doses         0
race_white_doses         0
avg_tavg                 0
avg_tmax                 0
avg_tmin                 0
avg_tobs                 0
total_cases              0
total_tests              0
hospital_day_total       0
age_0_17_deaths          0
age_18_49_deaths         0
age_50_64_deaths         0
age_65_deaths            0
gender_female_deaths     0
gender_male_deaths       0
race_white_deaths        0
race_other_deaths        0
race_multirace_deaths    0
race_latino_deaths       0
race_hawaiian_deaths     0
race_black_deaths        0
race_asian_deaths        0
race_american_deaths     0
dtype: int64

In [16]:
normalized.describe()

,age_0_17_doses,age_18_49_doses,age_50_64_doses,age_65_doses,gender_female_doses,gender_male_doses,race_american_doses,race_asian_doses,race_black_doses,race_hawaiian_doses,...,gender_female_deaths,gender_male_deaths,race_white_deaths,race_other_deaths,race_multirace_deaths,race_latino_deaths,race_hawaiian_deaths,race_black_deaths,race_asian_deaths,race_american_deaths
count,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,...,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000
mean,0.234395,0.354106,0.369328,0.407692,0.359024,0.352319,0.355043,0.357901,0.340663,0.352023,...,0.520511,0.513644,0.489811,0.489911,0.495529,0.541690,0.475917,0.500014,0.550636,0.443862
std,0.308334,0.364957,0.371518,0.379209,0.358972,0.360081,0.357522,0.358523,0.351666,0.355491,...,0.327334,0.330014,0.318587,0.350471,0.364176,0.337189,0.333547,0.312231,0.346970,0.315727
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000002,0.000037,0.000058,0.000053,0.000038,0.000045,0.000090,0.000020,0.000033,0.000042,...,0.187480,0.175349,0.160650,0.079704,0.093121,0.205768,0.124236,0.195533,0.189880,0.119565
50%,0.006093,0.184712,0.229513,0.525380,0.266001,0.223969,0.259368,0.246778,0.224245,0.231366,...,0.677708,0.672638,0.630729,0.693380,0.626678,0.711530,0.610998,0.605652,0.723613,0.532609
75%,0.477384,0.700568,0.704054,0.697779,0.676496,0.677413,0.677700,0.669564,0.651100,0.675403,...,0.788371,0.785550,0.741768,0.763502,0.830117,0.823461,0.752546,0.759799,0.852087,0.671196
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
normalized.to_csv("normalized.csv")